*.pem
.nfs*
*.swp
weechat/logs/*
weechat/*.log
weechat/weechat_fifo_*
weechat/irc.conf
weechat/relay.conf
weechat/urlserver_list.txt
weechat/grep*
weechat/script/plugins.xml.gz
vim/plugged/*
vim/bundle/.vundle/*
vim/syntax/vhc.vim
vim/syntax/tgn.vim
vim/ftdetect/vhc.vim
vim/ftdetect/tgn.vim
