[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "ignored/omz-custom/plugins/zsh-syntax-highlighting"]
	path = ignored/omz-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "nano"]
	path = nano
	url = https://github.com/MatthewCox/nanorc.git
[submodule "tmuxifier"]
	path = tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
