[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "ignored/omz-custom/plugins/zsh-syntax-highlighting"]
    path = ignored/omz-custom/plugins/zsh-syntax-highlighting
    url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "ignored/omz-custom/plugins/zsh-autosuggestions"]
    path = ignored/omz-custom/plugins/zsh-autosuggestions
    url = git@github.com:zsh-users/zsh-autosuggestions
[submodule "ignored/tpm"]
	path = ignored/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/bundles/repos/github.com/Shougo/dein.vim"]
    path = vim/bundles/repos/github.com/Shougo/dein.vim
    url = git@github.com:Shougo/dein.vim
[submodule "ignored/oh-my-tmux"]
	path = ignored/oh-my-tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule "ignored/omz-custom/plugins/zsh-autoenv"]
	path = ignored/omz-custom/plugins/zsh-autoenv
	url = git@github.com:Tarrasch/zsh-autoenv.git
