*.pem
.nfs*
*.swp
*.pyc
*.log

config/Kitware
config/QtProject.conf
config/htop
config/mpd/log
config/mpd/sticker.sql
config/neofetch
config/thefuck

weechat/logs/*
weechat/*.log
weechat/weechat_fifo_*
weechat/irc.conf
weechat/relay.conf
weechat/sec.conf
weechat/urlserver_list.txt
weechat/grep*
weechat/script/plugins.xml.gz

vim/bundles/*
!vim/bundles/repos
vim/bundles/repos/*
!vim/bundles/repos/github.com
vim/bundles/repos/github.com/*
!vim/bundles/repos/github.com/Shougo
vim/bundles/repos/github.com/Shougo/*
!vim/bundles/repos/github.com/Shougo/dein.vim

vim/undodir/*
vim/syntax/vhc.vim
vim/syntax/tgn.vim
vim/syntax/out2.vim
vim/ftdetect/vhc.vim
vim/ftdetect/tgn.vim
vim/ftdetect/out2.vim
