*.pem
.nfs*
*.swp
*.pyc
*.log

config/discurses.yaml
config/Kitware
config/QtProject.conf
config/htop
config/mpd/log
config/mpd/sticker.sql
config/neofetch
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/rtv
config/thefuck
config/tootstream
config/yay

ignored/commands/apikeys.json

weechat/logs/*
weechat/*.log
weechat/weechat_fifo_*
weechat/urlserver_list.txt
weechat/grep*
weechat/script/plugins.xml.gz

vim/bundles/*
!vim/bundles/repos
vim/bundles/repos/*
!vim/bundles/repos/github.com
vim/bundles/repos/github.com/*
!vim/bundles/repos/github.com/Shougo
vim/bundles/repos/github.com/Shougo/*
!vim/bundles/repos/github.com/Shougo/dein.vim

vim/undodir/*
vim/syntax/vhc.vim
vim/syntax/tgn.vim
vim/syntax/out2.vim
vim/ftdetect/vhc.vim
vim/ftdetect/tgn.vim
vim/ftdetect/out2.vim
